---
import GTMEventLoad from "@/astro_ui/components/ads/GTMEventLoad.astro";
import SageEvent from "@/astro_ui/components/SageEvent.astro";
import Vimeo from "@/astro_ui/components/Vimeo.astro";

import type { BaseProps } from "@/models/types/base";

import { Store } from "@/models/store/Store";
import Layout from "../../layouts/Layout.astro";
import type { WebclassCvars } from "../../types/cvars";

interface Props extends BaseProps<WebclassCvars> {}

const props = Astro.props;

const reg = Store.registration.create();
const guid = Astro.cookies.get("_registration_guid")?.value;
if (guid) {
  //await reg.loadFromServer(guid);
}

// Needs to be rehydrated in any react component
props.registration = reg;
---

<Layout {...props}>
  <Fragment slot="body">
    <div class="flex flex-col w-full"></div>
    <GTMEventLoad
      eventName="webinar_registrant_lp"
      registration={props.registration}
    />
    <Vimeo />
    <SageEvent
      event="registration_complete"
      page="thankyou"
      placement=""
      url={props.trackingValues.sageURL}
    />
  </Fragment>
</Layout>
