---
import { LayerDisplay } from "@/ui/common/components/layer/LayerDisplay";

import RootLayout from "./RootLayout.astro";

import "../styles/app.css";

interface Props {
  title: string;
  debugMode?: boolean;
}
const props = Astro.props;
---

<Fragment slot={"header"}> </Fragment>

<RootLayout title={props.title}>
  <div class="w-full min-h-dvh">
    <slot name="body" />
  </div>

  <LayerDisplay client:only="react" />
</RootLayout>
