/*
input {
  &.shadow-none {
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }
}

.select_container {
  @apply border-gray-300;
  border-width: 1px;
  border-style: solid;
  width: 100%;
  min-width: 142px;
  border-radius: 8px;
  &.active {
    @apply border-blue-dark-500;
  }

  &.error {
    @apply border-error-500;
  }
}

._form-select_options {
  height: 0px;
  overflow-y: hidden;
  &.active {
    @apply border-gray-300;
    @apply border;
    height: auto;
    background-color: white;
    top: 100%;
  }
  .overflow-y-auto {
    &::-webkit-scrollbar {
      width: 0.75rem;
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      background: #eaecf0;
      border-radius: 0.5rem;
      border: solid 0.125rem #fff;
    }
  }
}

.form-select_option {
  @apply font-normal;
  &.selected {
    @apply bg-blue-dark-100;
    @apply rounded-md;
    @apply font-medium;
  }
}
  */

/*keeep*/
.select-options-overflow {
  .overflow-y-auto {
    &::-webkit-scrollbar {
      @apply w-1.5;
    }
    &::-webkit-scrollbar-track {
      @apply bg-none;
    }
    &::-webkit-scrollbar-thumb {
      @apply rounded-full bg-black/20;
    }
  }
}
