:root {
  --custom-colors-base-white: 255, 255, 255;
  --custom-colors-base-black: 0, 0, 0;
  --custom-colors-base-transparent: 255, 255, 255, 0;
  --custom-colors-gray-modern-25: 252, 252, 253;
  --custom-colors-brand-25: var(--custom-colors-blue-25);
  --custom-colors-brand-50: var(--custom-colors-blue-50);
  --custom-colors-brand-100: var(--custom-colors-blue-100);
  --custom-colors-brand-200: var(--custom-colors-blue-200);
  --custom-colors-brand-300: var(--custom-colors-blue-300);
  --custom-colors-brand-400: var(--custom-colors-blue-400);
  --custom-colors-brand-500: var(--custom-colors-blue-500);
  --custom-colors-brand-600: var(--custom-colors-blue-600);
  --custom-colors-brand-700: var(--custom-colors-blue-700);
  --custom-colors-brand-800: var(--custom-colors-blue-800);
  --custom-colors-brand-900: var(--custom-colors-blue-900);
  --custom-colors-brand-950: var(--custom-colors-blue-950);
  --custom-colors-success-25: 246, 254, 249;
  --custom-colors-success-50: 236, 253, 243;
  --custom-colors-success-100: 220, 250, 230;
  --custom-colors-success-200: 171, 239, 198;
  --custom-colors-success-300: 117, 224, 167;
  --custom-colors-success-400: 71, 205, 137;
  --custom-colors-success-500: 23, 178, 106;
  --custom-colors-success-600: 7, 148, 85;
  --custom-colors-success-700: 6, 118, 71;
  --custom-colors-success-800: 8, 93, 58;
  --custom-colors-success-900: 7, 77, 49;
  --custom-colors-success-950: 5, 51, 33;
  --custom-colors-error-25: 255, 251, 250;
  --custom-colors-error-50: 254, 243, 242;
  --custom-colors-error-100: 254, 228, 226;
  --custom-colors-error-200: 254, 205, 202;
  --custom-colors-error-300: 253, 162, 155;
  --custom-colors-error-400: 249, 112, 102;
  --custom-colors-error-500: 240, 68, 56;
  --custom-colors-error-600: 217, 45, 32;
  --custom-colors-error-700: 180, 35, 24;
  --custom-colors-error-800: 145, 32, 24;
  --custom-colors-error-900: 122, 39, 26;
  --custom-colors-error-950: 85, 22, 12;
  --custom-colors-warning-25: 255, 252, 245;
  --custom-colors-warning-50: 255, 250, 235;
  --custom-colors-warning-100: 254, 240, 199;
  --custom-colors-warning-200: 254, 223, 137;
  --custom-colors-warning-300: 254, 200, 75;
  --custom-colors-warning-400: 253, 176, 34;
  --custom-colors-warning-500: 247, 144, 9;
  --custom-colors-warning-600: 220, 104, 3;
  --custom-colors-warning-700: 181, 71, 8;
  --custom-colors-warning-800: 147, 55, 13;
  --custom-colors-warning-900: 122, 46, 14;
  --custom-colors-warning-950: 78, 29, 9;
  --custom-colors-gray-modern-50: 249, 250, 251;
  --custom-colors-gray-modern-100: 242, 244, 247;
  --custom-colors-gray-modern-200: 228, 231, 236;
  --custom-colors-gray-modern-300: 208, 213, 221;
  --custom-colors-gray-modern-400: 152, 162, 179;
  --custom-colors-gray-modern-500: 102, 112, 133;
  --custom-colors-gray-modern-600: 71, 84, 103;
  --custom-colors-gray-modern-700: 52, 64, 84;
  --custom-colors-gray-modern-800: 24, 34, 48;
  --custom-colors-gray-modern-900: 16, 24, 40;
  --custom-colors-gray-modern-950: 12, 17, 29;
  --custom-colors-gray-25: 253, 253, 253;
  --custom-colors-gray-50: 250, 250, 250;
  --custom-colors-gray-100: 245, 245, 245;
  --custom-colors-gray-200: 233, 234, 235;
  --custom-colors-gray-300: 213, 215, 218;
  --custom-colors-gray-400: 164, 167, 174;
  --custom-colors-gray-500: 113, 118, 128;
  --custom-colors-gray-600: 83, 88, 98;
  --custom-colors-gray-700: 65, 70, 81;
  --custom-colors-gray-800: 37, 43, 55;
  --custom-colors-gray-900: 24, 29, 39;
  --custom-colors-gray-950: 10, 13, 18;
  --custom-colors-gray-25: 250, 250, 250;
  --custom-colors-gray-50: 247, 247, 247;
  --custom-colors-gray-100: 240, 240, 241;
  --custom-colors-gray-200: 236, 236, 237;
  --custom-colors-gray-300: 206, 207, 210;
  --custom-colors-gray-400: 148, 151, 156;
  --custom-colors-gray-500: 133, 136, 142;
  --custom-colors-gray-600: 97, 101, 108;
  --custom-colors-gray-700: 55, 58, 65;
  --custom-colors-gray-800: 34, 38, 47;
  --custom-colors-gray-900: 19, 22, 27;
  --custom-colors-gray-950: 12, 14, 18;
  --custom-colors-gray-blue-25: 252, 252, 253;
  --custom-colors-gray-blue-50: 248, 249, 252;
  --custom-colors-gray-blue-100: 234, 236, 245;
  --custom-colors-gray-blue-200: 213, 217, 235;
  --custom-colors-gray-blue-300: 179, 184, 219;
  --custom-colors-gray-blue-400: 113, 123, 188;
  --custom-colors-gray-blue-500: 78, 91, 166;
  --custom-colors-gray-blue-600: 62, 71, 132;
  --custom-colors-gray-blue-700: 54, 63, 114;
  --custom-colors-gray-blue-800: 41, 48, 86;
  --custom-colors-gray-blue-900: 16, 19, 35;
  --custom-colors-gray-blue-950: 13, 15, 28;
  --custom-colors-gray-cool-25: 252, 252, 253;
  --custom-colors-gray-cool-50: 249, 249, 251;
  --custom-colors-gray-cool-100: 239, 241, 245;
  --custom-colors-gray-cool-200: 220, 223, 234;
  --custom-colors-gray-cool-300: 185, 192, 212;
  --custom-colors-gray-cool-400: 125, 137, 176;
  --custom-colors-gray-cool-500: 93, 107, 152;
  --custom-colors-gray-cool-600: 74, 85, 120;
  --custom-colors-gray-cool-700: 64, 73, 104;
  --custom-colors-gray-cool-800: 48, 55, 79;
  --custom-colors-gray-cool-900: 17, 19, 34;
  --custom-colors-gray-cool-950: 14, 16, 27;
  --custom-colors-gray-neutral-25: 252, 252, 253;
  --custom-colors-gray-neutral-50: 249, 250, 251;
  --custom-colors-gray-neutral-100: 243, 244, 246;
  --custom-colors-gray-neutral-200: 229, 231, 235;
  --custom-colors-gray-neutral-300: 210, 214, 219;
  --custom-colors-gray-neutral-400: 157, 164, 174;
  --custom-colors-gray-neutral-500: 108, 115, 127;
  --custom-colors-gray-neutral-600: 77, 87, 97;
  --custom-colors-gray-neutral-700: 56, 66, 80;
  --custom-colors-gray-neutral-800: 31, 42, 55;
  --custom-colors-gray-neutral-900: 17, 25, 39;
  --custom-colors-gray-neutral-950: 13, 18, 28;
  --custom-colors-gray-iron-25: 252, 252, 252;
  --custom-colors-gray-iron-50: 250, 250, 250;
  --custom-colors-gray-iron-100: 244, 244, 245;
  --custom-colors-gray-iron-200: 228, 228, 231;
  --custom-colors-gray-iron-300: 209, 209, 214;
  --custom-colors-gray-iron-400: 160, 160, 171;
  --custom-colors-gray-iron-500: 112, 112, 123;
  --custom-colors-gray-iron-600: 81, 82, 92;
  --custom-colors-gray-iron-700: 63, 63, 70;
  --custom-colors-gray-iron-800: 38, 39, 43;
  --custom-colors-gray-iron-900: 26, 26, 30;
  --custom-colors-gray-iron-950: 19, 19, 22;
  --custom-colors-gray-true-25: 252, 252, 252;
  --custom-colors-gray-true-50: 247, 247, 247;
  --custom-colors-gray-true-100: 245, 245, 245;
  --custom-colors-gray-true-200: 229, 229, 229;
  --custom-colors-gray-true-300: 214, 214, 214;
  --custom-colors-gray-true-400: 163, 163, 163;
  --custom-colors-gray-true-500: 115, 115, 115;
  --custom-colors-gray-true-600: 82, 82, 82;
  --custom-colors-gray-true-700: 66, 66, 66;
  --custom-colors-gray-true-800: 41, 41, 41;
  --custom-colors-gray-true-900: 20, 20, 20;
  --custom-colors-gray-true-950: 15, 15, 15;
  --custom-colors-gray-warm-25: 253, 253, 252;
  --custom-colors-gray-warm-50: 250, 250, 249;
  --custom-colors-gray-warm-100: 245, 245, 244;
  --custom-colors-gray-warm-200: 231, 229, 228;
  --custom-colors-gray-warm-300: 215, 211, 208;
  --custom-colors-gray-warm-400: 169, 162, 157;
  --custom-colors-gray-warm-500: 121, 113, 107;
  --custom-colors-gray-warm-600: 87, 83, 78;
  --custom-colors-gray-warm-700: 68, 64, 60;
  --custom-colors-gray-warm-800: 41, 37, 36;
  --custom-colors-gray-warm-900: 28, 25, 23;
  --custom-colors-gray-warm-950: 23, 20, 18;
  --custom-colors-moss-25: 250, 253, 247;
  --custom-colors-moss-50: 245, 251, 238;
  --custom-colors-moss-100: 230, 244, 215;
  --custom-colors-moss-200: 206, 234, 176;
  --custom-colors-moss-300: 172, 220, 121;
  --custom-colors-moss-400: 134, 203, 60;
  --custom-colors-moss-500: 102, 159, 42;
  --custom-colors-moss-600: 79, 122, 33;
  --custom-colors-moss-700: 63, 98, 26;
  --custom-colors-moss-800: 51, 80, 21;
  --custom-colors-moss-900: 43, 66, 18;
  --custom-colors-moss-950: 26, 40, 11;
  --custom-colors-green-light-25: 250, 254, 245;
  --custom-colors-green-light-50: 243, 254, 231;
  --custom-colors-green-light-100: 227, 251, 204;
  --custom-colors-green-light-200: 208, 248, 171;
  --custom-colors-green-light-300: 166, 239, 103;
  --custom-colors-green-light-400: 133, 225, 58;
  --custom-colors-green-light-500: 102, 198, 28;
  --custom-colors-green-light-600: 76, 163, 13;
  --custom-colors-green-light-700: 59, 124, 15;
  --custom-colors-green-light-800: 50, 98, 18;
  --custom-colors-green-light-900: 43, 83, 20;
  --custom-colors-green-light-950: 21, 41, 10;
  --custom-colors-green-25: 246, 254, 249;
  --custom-colors-green-50: 237, 252, 242;
  --custom-colors-green-100: 211, 248, 223;
  --custom-colors-green-200: 170, 240, 196;
  --custom-colors-green-300: 115, 226, 163;
  --custom-colors-green-400: 60, 203, 127;
  --custom-colors-green-500: 22, 179, 100;
  --custom-colors-green-600: 9, 146, 80;
  --custom-colors-green-700: 8, 116, 67;
  --custom-colors-green-800: 9, 92, 55;
  --custom-colors-green-900: 8, 76, 46;
  --custom-colors-green-950: 5, 46, 28;
  --custom-colors-teal-25: 246, 254, 252;
  --custom-colors-teal-50: 240, 253, 249;
  --custom-colors-teal-100: 204, 251, 239;
  --custom-colors-teal-200: 153, 246, 224;
  --custom-colors-teal-300: 95, 233, 208;
  --custom-colors-teal-400: 46, 211, 183;
  --custom-colors-teal-500: 21, 183, 158;
  --custom-colors-teal-600: 14, 147, 132;
  --custom-colors-teal-700: 16, 117, 105;
  --custom-colors-teal-800: 18, 93, 86;
  --custom-colors-teal-900: 19, 78, 72;
  --custom-colors-teal-950: 10, 41, 38;
  --custom-colors-cyan-25: 245, 254, 255;
  --custom-colors-cyan-50: 236, 253, 255;
  --custom-colors-cyan-100: 207, 249, 254;
  --custom-colors-cyan-200: 165, 240, 252;
  --custom-colors-cyan-300: 103, 227, 249;
  --custom-colors-cyan-400: 34, 204, 238;
  --custom-colors-cyan-500: 6, 174, 212;
  --custom-colors-cyan-600: 8, 138, 178;
  --custom-colors-cyan-700: 14, 112, 144;
  --custom-colors-cyan-800: 21, 91, 117;
  --custom-colors-cyan-900: 22, 76, 99;
  --custom-colors-cyan-950: 13, 45, 58;
  --custom-colors-blue-light-25: 245, 251, 255;
  --custom-colors-blue-light-50: 240, 249, 255;
  --custom-colors-blue-light-100: 224, 242, 254;
  --custom-colors-blue-light-200: 185, 230, 254;
  --custom-colors-blue-light-300: 124, 212, 253;
  --custom-colors-blue-light-400: 54, 191, 250;
  --custom-colors-blue-light-500: 11, 165, 236;
  --custom-colors-blue-light-600: 0, 134, 201;
  --custom-colors-blue-light-700: 2, 106, 162;
  --custom-colors-blue-light-800: 6, 89, 134;
  --custom-colors-blue-light-900: 11, 74, 111;
  --custom-colors-blue-light-950: 6, 44, 65;
  --custom-colors-blue-25: 245, 250, 255;
  --custom-colors-blue-50: 239, 248, 255;
  --custom-colors-blue-100: 209, 233, 255;
  --custom-colors-blue-200: 178, 221, 255;
  --custom-colors-blue-300: 132, 202, 255;
  --custom-colors-blue-400: 83, 177, 253;
  --custom-colors-blue-500: 46, 144, 250;
  --custom-colors-blue-600: 17, 109, 248;
  --custom-colors-blue-700: 23, 92, 211;
  --custom-colors-blue-800: 24, 73, 169;
  --custom-colors-blue-900: 25, 65, 133;
  --custom-colors-blue-950: 16, 42, 86;
  --custom-colors-blue-dark-25: 245, 248, 255;
  --custom-colors-blue-dark-50: 239, 244, 255;
  --custom-colors-blue-dark-100: 209, 224, 255;
  --custom-colors-blue-dark-200: 178, 204, 255;
  --custom-colors-blue-dark-300: 132, 173, 255;
  --custom-colors-blue-dark-400: 82, 139, 255;
  --custom-colors-blue-dark-500: 41, 112, 255;
  --custom-colors-blue-dark-600: 21, 94, 239;
  --custom-colors-blue-dark-700: 0, 78, 235;
  --custom-colors-blue-dark-800: 0, 64, 193;
  --custom-colors-blue-dark-900: 0, 53, 158;
  --custom-colors-blue-dark-950: 0, 34, 102;
  --custom-colors-indigo-25: 245, 248, 255;
  --custom-colors-indigo-50: 238, 244, 255;
  --custom-colors-indigo-100: 224, 234, 255;
  --custom-colors-indigo-200: 199, 215, 254;
  --custom-colors-indigo-300: 164, 188, 253;
  --custom-colors-indigo-400: 128, 152, 249;
  --custom-colors-indigo-500: 97, 114, 243;
  --custom-colors-indigo-600: 68, 76, 231;
  --custom-colors-indigo-700: 53, 56, 205;
  --custom-colors-indigo-800: 45, 49, 166;
  --custom-colors-indigo-900: 45, 50, 130;
  --custom-colors-indigo-950: 31, 35, 91;
  --custom-colors-violet-25: 251, 250, 255;
  --custom-colors-violet-50: 245, 243, 255;
  --custom-colors-violet-100: 236, 233, 254;
  --custom-colors-violet-200: 221, 214, 254;
  --custom-colors-violet-300: 195, 181, 253;
  --custom-colors-violet-400: 164, 138, 251;
  --custom-colors-violet-500: 135, 91, 247;
  --custom-colors-violet-600: 120, 57, 238;
  --custom-colors-violet-700: 105, 39, 218;
  --custom-colors-violet-800: 87, 32, 183;
  --custom-colors-violet-900: 73, 28, 150;
  --custom-colors-violet-950: 46, 18, 94;
  --custom-colors-purple-25: 250, 250, 255;
  --custom-colors-purple-50: 244, 243, 255;
  --custom-colors-purple-100: 235, 233, 254;
  --custom-colors-purple-200: 217, 214, 254;
  --custom-colors-purple-300: 189, 180, 254;
  --custom-colors-purple-400: 155, 138, 251;
  --custom-colors-purple-500: 122, 90, 248;
  --custom-colors-purple-600: 105, 56, 239;
  --custom-colors-purple-700: 89, 37, 220;
  --custom-colors-purple-800: 74, 31, 184;
  --custom-colors-purple-900: 62, 28, 150;
  --custom-colors-purple-950: 39, 17, 95;
  --custom-colors-fuchsia-25: 254, 250, 255;
  --custom-colors-fuchsia-50: 253, 244, 255;
  --custom-colors-fuchsia-100: 251, 232, 255;
  --custom-colors-fuchsia-200: 246, 208, 254;
  --custom-colors-fuchsia-300: 238, 170, 253;
  --custom-colors-fuchsia-400: 228, 120, 250;
  --custom-colors-fuchsia-500: 212, 68, 241;
  --custom-colors-fuchsia-600: 186, 36, 213;
  --custom-colors-fuchsia-700: 159, 26, 177;
  --custom-colors-fuchsia-800: 130, 24, 144;
  --custom-colors-fuchsia-900: 111, 24, 119;
  --custom-colors-fuchsia-950: 71, 16, 76;
  --custom-colors-pink-25: 254, 246, 251;
  --custom-colors-pink-50: 253, 242, 250;
  --custom-colors-pink-100: 252, 231, 246;
  --custom-colors-pink-200: 252, 206, 238;
  --custom-colors-pink-300: 250, 167, 224;
  --custom-colors-pink-400: 246, 112, 199;
  --custom-colors-pink-500: 238, 70, 188;
  --custom-colors-pink-600: 221, 37, 144;
  --custom-colors-pink-700: 193, 21, 116;
  --custom-colors-pink-800: 158, 22, 95;
  --custom-colors-pink-900: 133, 22, 81;
  --custom-colors-pink-950: 78, 13, 48;
  --custom-colors-rose-25: 255, 245, 246;
  --custom-colors-rose-50: 255, 241, 243;
  --custom-colors-rose-100: 255, 228, 232;
  --custom-colors-rose-200: 254, 205, 214;
  --custom-colors-rose-300: 254, 163, 180;
  --custom-colors-rose-400: 253, 111, 142;
  --custom-colors-rose-500: 246, 61, 104;
  --custom-colors-rose-600: 227, 27, 84;
  --custom-colors-rose-700: 192, 16, 72;
  --custom-colors-rose-800: 161, 16, 67;
  --custom-colors-rose-900: 137, 18, 62;
  --custom-colors-rose-950: 81, 11, 36;
  --custom-colors-orange-dark-25: 255, 249, 245;
  --custom-colors-orange-dark-50: 255, 244, 237;
  --custom-colors-orange-dark-100: 255, 230, 213;
  --custom-colors-orange-dark-200: 255, 214, 174;
  --custom-colors-orange-dark-300: 255, 156, 102;
  --custom-colors-orange-dark-400: 255, 105, 46;
  --custom-colors-orange-dark-500: 255, 68, 5;
  --custom-colors-orange-dark-600: 230, 46, 5;
  --custom-colors-orange-dark-700: 188, 27, 6;
  --custom-colors-orange-dark-800: 151, 24, 12;
  --custom-colors-orange-dark-900: 119, 26, 13;
  --custom-colors-orange-dark-950: 87, 19, 10;
  --custom-colors-orange-25: 254, 250, 245;
  --custom-colors-orange-50: 254, 246, 238;
  --custom-colors-orange-100: 253, 234, 215;
  --custom-colors-orange-200: 249, 219, 175;
  --custom-colors-orange-300: 247, 178, 122;
  --custom-colors-orange-400: 243, 135, 68;
  --custom-colors-orange-500: 239, 104, 32;
  --custom-colors-orange-600: 224, 79, 22;
  --custom-colors-orange-700: 185, 56, 21;
  --custom-colors-orange-800: 147, 47, 25;
  --custom-colors-orange-900: 119, 41, 23;
  --custom-colors-orange-950: 81, 28, 16;
  --custom-colors-yellow-25: 254, 253, 240;
  --custom-colors-yellow-50: 254, 251, 232;
  --custom-colors-yellow-100: 254, 247, 195;
  --custom-colors-yellow-200: 254, 238, 149;
  --custom-colors-yellow-300: 253, 226, 114;
  --custom-colors-yellow-400: 250, 197, 21;
  --custom-colors-yellow-500: 234, 170, 8;
  --custom-colors-yellow-600: 202, 133, 4;
  --custom-colors-yellow-700: 161, 92, 7;
  --custom-colors-yellow-800: 133, 74, 14;
  --custom-colors-yellow-900: 113, 59, 18;
  --custom-colors-yellow-950: 84, 44, 13;
}
